body {
    max-width: 100%;
    font-family: arial;
    background-color: rgb(67, 66, 66) !important;
    color: white !important;
}

header {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    background: rgb(244, 245, 67);
    background: linear-gradient(144deg, rgba(244, 245, 67, 1) 0%, rgba(237, 155, 0, 1) 100%);
    color: black !important;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

}

nav ul {
    list-style: none;
    color: black !important;
}

nav ul li a {
    color: black;
    text-decoration: none !important;
    padding: 10px 10px;
}

nav ul li a:hover {
    background-color: black !important;
    color: white !important;
    padding: 10px 10px;
    border-radius: 10px;
}

main {
    margin: 10px 50px;
    display: flex !important;
}

.img {
    width: 100%;
    height: auto;
    object-fit: contain !important;

}



.desc {
    padding-left: 10px;
}

main ul li {
    font-size: large;
    padding-bottom: 50px;
    font-size: x-large;
}

@media (max-width: 768px) {

    /* Styles for tablet devices */
    main {
        margin: 10px 30px;
        /* Adjust the margin for tablet layout */
    }

    main ul li {
        padding-bottom: 30px;
        /* Adjust the padding for tablet layout */
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        padding: 10px 0;
    }
}

@media (max-width: 480px) {

    /* Styles for mobile devices */
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        padding: 10px 0;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .formobile {}
}

/*Footer*/
footer {
    display: flex;
    text-align: center;
    background-color: black !important;
    color: white !important;
    position: absolute !important;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-end;
}