body {
    max-width: 100%;
    font-family: arial;
}

header {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}


nav {
    display: flex;
    justify-content: flex-end;

}

nav ul {
    list-style: none;
    color: black !important;

}

nav ul li a {
    color: black;
    text-decoration: none !important;
    padding: 10px 10px;
}

nav ul li a:hover {
    background-color: black !important;
    color: white !important;
    padding: 10px 10px;
    border-radius: 10px;
}

main {
    margin: 10px 50px;
    display: flex !important;
}

main img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.desc {
    padding-left: 10px;
}

main ul li {
    font-size: large;
    padding-bottom: 50px;
}

@media (max-width: 480px) {


    main {
        display: flex !important;
        flex-direction: column !important;

    }


}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    nav ul li a {
        padding: 10px 0;
    }

    nav ul li a:hover {
        padding: 10px 0;
    }
}